[general]
# We support only mainnet
# TBD: Support testnet
network = "mainnet"
eth_api = "https://eth-api:443"
# Program execution period (minutes)
period = 60
listen_port = 8080

[injective]
enable = true
grpc = "injective-grpc:9090"
validator_acc = "inj1..."

[tg]
enable = true
token = "123:AA-BB..."
chat_id = "123..."
